Body {background-color: sandybrown; color: mediumvioletred; 
	font-family: jokerman, arial, sans-serif; font-size: 1.2em }
h1{color: red; text-align: center; text-transform: uppercase;}
h2{color: lawngreen; font-family: arial;}
li{font-family: cursive;}
p{color: blueviolet; text-transform: uppercase;}
a{text-decoration: none;}
strong{color: seagreen;}
