body {background-color: sandybrown; color: yellow; 
	font-family: jokerman, arial, sans-serif; font-size: 1.2em; 
	background-image: url(images/glassofmilkdrinkwithspices.jpg); 
	background-repeat: repeat; height: 1920px; width: 1280px;}

h1{color: red; text-align: center; text-transform: uppercase; 
   border-style: groove; border-radius: 15px; box-shadow: 5px 5px 5px darkred; 
   padding: 14px;}

h2{color: lawngreen; font-family: arial; 
	text-shadow: 3px 3px 3px darkgreen;} 

h3{color: blueviolet; font-family: arial, sans-serif;} 

li{font-family: cursive;}

p{color: floralwhite; text-transform: uppercase;}

a{text-decoration: none; color: hotpink;}

a:hover {text-decoration: none; color: lawngreen;}

strong{color: lawngreen;}

#contentcenter { margin-left: auto;
					margin-right: auto;
					width: 80%;}

#headings {position: sticky;
			top: 15px}

#ingredients { float:left;
				width: 600px ;
				padding: 14px;
				border-style: groove; 
				border-radius: 15px; 
				box-shadow: 5px 5px 5px sandybrown;}

#instructions { margin-left: 900px;
				width: 600px;
				padding: 20px 4px 38px 14px;
				border-style: groove; 
				border-radius: 15px; 
				box-shadow: 5px 5px 5px darkblue;}

#footerandlinks { clear: both; margin-top: 70px }

@media (max-width: 768px){
	img { width: 50%; }
	h1{ font-family: arial, sans-serif; }
	p { font-family: arial, sans-serif; }
	strong { color: darkred; }
	main { margin: 0;}
	header { grid-area: header; }
	nav { grid-area: nav; }
	div { grid-area: div; }
	main { grid-area: main; }
	footer { grid-area: footer; }
	#footerandlinks { margin: 0; }
	#ingredients { background-color: lightgrey; color: black; clear: both; width: auto;}
	#instructions { margin: 0; padding: 14px; 
						width: auto; background-color: mintcream; 
						color: black; width: auto; }
	#contentcenter { display: grid; grid-template: "header hearder"
																	"div	div"
																	"nav	nav"
																	"main	main"
																	"footer footer" 
																	/ 60% }

}





